# Loading data into Pandas

In [65]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df.head(5)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0  1              Bulbasaur  Grass  Poison  45      49       49       65       65     45           1      False
1  2                Ivysaur  Grass  Poison  60      62       63       80       80     60           1      False
2  3               Venusaur  Grass  Poison  80      82       83      100      100     80           1      False
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122      120     80           1      False
4  4             Charmander   Fire     NaN  39      52       43       60       50     65           1      False

# Reading Data in Pandas

In [38]:
## Read Headers
df.columns

## Read Each Column
df[['Name', 'HP', 'Attack', 'Defense']][0:5]

## Read Each Row
df.head(4)

df.loc[1:6]

#for index, row in df.iterrows():
#    print(index, row['Name'])
    
df.loc[df['Type 1'] == "Fire"] 

## Read a specific location (Row,Column)
#df.iloc[2,1]

       #                       Name Type 1    Type 2   HP  ...  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4      4                 Charmander   Fire       NaN   39  ...       60       50     65           1      False
5      5                 Charmeleon   Fire       NaN   58  ...       80       65     80           1      False
6      6                  Charizard   Fire    Flying   78  ...      109       85    100           1      False
7      6  CharizardMega Charizard X   Fire    Dragon   78  ...      130       85    100           1      False
8      6  CharizardMega Charizard Y   Fire    Flying   78  ...      159      115    100           1      False
42    37                     Vulpix   Fire       NaN   38  ...       50       65     65           1      False
43    38                  Ninetales   Fire       NaN   73  ...       81      100    100           1      False
63    58                  Growlithe   Fire       NaN   55  ...       70       50     60           1      False
64    59                   Arcanine   Fire       NaN   90  ...      100       80     95           1      False
83    77                     Ponyta   Fire       NaN   50  ...       65       65     90           1      False
84    78                   Rapidash   Fire       NaN   65  ...       80       80    105           1      False
135  126                     Magmar   Fire       NaN   65  ...      100       85     93           1      False
147  136                    Flareon   Fire       NaN   65  ...       95      110     65           1      False
158  146                    Moltres   Fire    Flying   90  ...      125       85     90           1       True
169  155                  Cyndaquil   Fire       NaN   39  ...       60       50     65           2      False
170  156                    Quilava   Fire       NaN   58  ...       80       65     80           2      False
171  157                 Typhlosion   Fire       NaN   78  ...      109       85    100           2      False
236  218                     Slugma   Fire       NaN   40  ...       70       40     20           2      False
237  219                   Magcargo   Fire      Rock   50  ...       80       80     30           2      False
259  240                      Magby   Fire       NaN   45  ...       70       55     83           2      False
263  244                      Entei   Fire       NaN  115  ...       90       75    100           2       True
270  250                      Ho-oh   Fire    Flying  106  ...      110      154     90           2       True
276  255                    Torchic   Fire       NaN   45  ...       70       50     45           3      False
277  256                  Combusken   Fire  Fighting   60  ...       85       60     55           3      False
278  257                   Blaziken   Fire  Fighting   80  ...      110       70     80           3      False
279  257      BlazikenMega Blaziken   Fire  Fighting   80  ...      130       80    100           3      False
352  322                      Numel   Fire    Ground   60  ...       65       45     35           3      False
353  323                   Camerupt   Fire    Ground   70  ...      105       75     40           3      False
354  323      CameruptMega Camerupt   Fire    Ground   70  ...      145      105     20           3      False
355  324                    Torkoal   Fire       NaN   70  ...       85       70     20           3      False
435  390                   Chimchar   Fire       NaN   44  ...       58       44     61           4      False
436  391                   Monferno   Fire  Fighting   64  ...       78       52     81           4      False
437  392                  Infernape   Fire  Fighting   76  ...      104       71    108           4      False
518  467                  Magmortar   Fire       NaN   75  ...      125       95     83           4      False
542  485                    Heatran   Fire     Steel   91  ...      130      106     77           4       True
557  498                      Tepig   Fire       NaN   65  ...       45       45     45           5      False
558  499                    Pignite   Fire  Fighting   90  ...       70       55     55           5      False
559  500                     Emboar   Fire  Fighting  110  ...      100       65     65           5      False
572  513                    Pansear   Fire       NaN   50  ...       53       48     64           5      False
573  514                   Simisear   Fire       NaN   75  ...       98       63    101           5      False
614  554                   Darumaka   Fire       NaN   70  ...       15       45     50           5      False
615  555    DarmanitanStandard Mode   Fire       NaN  105  ...       30       55     95           5      False
616  555         DarmanitanZen Mode   Fire   Psychic  105  ...      140      105     55           5      False
692  631                    Heatmor   Fire       NaN   85  ...      105       66     65           5      False
721  653                   Fennekin   Fire       NaN   40  ...       62       60     60           6      False
722  654                    Braixen   Fire       NaN   59  ...       90       70     73           6      False
723  655                    Delphox   Fire   Psychic   75  ...      114      100    104           6      False
730  662                Fletchinder   Fire    Flying   62  ...       56       52     84           6      False
731  663                 Talonflame   Fire    Flying   78  ...       74       69    126           6      False
735  667                     Litleo   Fire    Normal   62  ...       73       54     72           6      False
736  668                     Pyroar   Fire    Normal   86  ...      109       66    106           6      False
799  721                  Volcanion   Fire     Water   80  ...      130       90     70           6       True

[52 rows x 12 columns]

# Sorting/Describing Data

In [40]:
df.describe()

                #          HP      Attack     Defense     Sp. Atk     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000  180.000000     6.00000

In [45]:
#df.sort_values('Name', ascending = False)
df.sort_values(['Type 1', 'HP'], ascending = False)

       #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
351  321    Wailord  Water     NaN  170      90       45       90       45     60           3      False
655  594  Alomomola  Water     NaN  165      75       80       40       45     65           5      False
142  131     Lapras  Water     Ice  130      85       80       85       95     60           1      False
145  134   Vaporeon  Water     NaN  130      65       60      110       95     65           1      False
350  320    Wailmer  Water     NaN  130      70       35       70       35     60           3      False
..   ...        ...    ...     ...  ...     ...      ...      ...      ...    ...         ...        ...
314  290    Nincada    Bug  Ground   31      45       90       30       30     40           3      False
462  415     Combee    Bug  Flying   30      30       42       30       42     70           4      False
603  543   Venipede    Bug  Poison   30      45       59       30       39     57           5      False
230  213    Shuckle    Bug    Rock   20      10      230       10      230      5           2      False
316  292   Shedinja    Bug   Ghost    1      90       45       30       30     40           3      False

[800 rows x 12 columns]

# Making changes to the data

In [71]:
#df['Total'] = df['HP'] + df['Attack'] +df['Defense'] +df['Sp. Atk'] +df['Sp. Def'] +df['Speed']

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#df = df.drop(columns=['Total'])

df.head(5)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  45      49       49       65       65     45           1      False    318
1  2                Ivysaur  Grass  Poison  60      62       63       80       80     60           1      False    405
2  3               Venusaur  Grass  Poison  80      82       83      100      100     80           1      False    525
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122      120     80           1      False    625
4  4             Charmander   Fire     NaN  39      52       43       60       50     65           1      False    309

# Saving Data

In [72]:
#df.to_csv('modified.csv', index = False)

#df.to_exel('modified.csv', index = False)

#df.tp_txt('modified.csv', index = False, sep = '\t')

# Filtering Data

In [88]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Fighting') & (df['HP'] > 65)]

new_df.reset_index(drop = True, inplace = True)

new_df

TypeError: reset_index() got an unexpected keyword argument 'regex'

In [103]:
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#df.loc[~df['Name'].str.contains('Mega')] #not Mega in phrase ~ 

import re
df.loc[df['Name'].str.contains('^pi[a-z]', flags=re.I, regex=True)]

       #                 Name    Type 1    Type 2   HP  Attack  ...  Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
20    16               Pidgey    Normal    Flying   40      45  ...       35       35     56           1      False    251
21    17            Pidgeotto    Normal    Flying   63      60  ...       50       50     71           1      False    349
22    18              Pidgeot    Normal    Flying   83      80  ...       70       70    101           1      False    479
23    18  PidgeotMega Pidgeot    Normal    Flying   83      80  ...      135       80    121           1      False    579
30    25              Pikachu  Electric       NaN   35      55  ...       50       50     90           1      False    320
136  127               Pinsir       Bug       NaN   65     125  ...       55       70     85           1      False    500
137  127    PinsirMega Pinsir       Bug    Flying   65     155  ...       65       90    105           1      False    600
186  172                Pichu  Electric       NaN   20      40  ...       35       35     60           2      False    205
219  204               Pineco       Bug       NaN   50      65  ...       35       35     15           2      False    290
239  221            Piloswine       Ice    Ground  100     100  ...       60       60     50           2      False    450
438  393               Piplup     Water       NaN   53      51  ...       61       56     40           4      False    314
558  499              Pignite      Fire  Fighting   90      93  ...       70       55     55           5      False    418
578  519               Pidove    Normal    Flying   50      55  ...       36       30     43           5      False    264

[13 rows x 13 columns]

# Conditional Changes